
  <div class="row">
  <!-- client details -->
      <div class="col-sm-4" ng-repeat="client in clients">
           <h2 >{{client.clientname}} </h2>
           <p style="padding-left:2em"> UUID: {{client.beaconuuid}} </p>
           <h4>{{site.sitename}}</h2>
           <p style="padding-left:2em"> Beacon Major: {{site.beaconmajor}}</h2>

           	<h4 ng-repeat="location in assets">Nudge list for: {{location.locationname}}</h4>
          <p style="padding-left:2em" ng-repeat="location in assets"> Beacon Minor: {{location.beaconminor}} </p> 

      </div>
      <div class="col-sm-4"></div>
                 
                 <div class="col-sm-4"> 
                        <h3>Create an Message</h3>

                         <form name="MessageForm" novalidate ng-submit="addAsset()">
                              <div class="form-group"
                                  ng-class="{'has-error': NudgeForm.content.$invalid
                                    && MessageForm.content.$dirty}">


                                    <input type="text" rows="2" class="form-control focus" name="message"
                                        placeholder="Message message" autocomplete="off" required
                                        ng-model="location.messages.message">
                                    <span class="has-error control-label" ng-show="
                                        MessageForm.message.$invalid && MessageForm.message.$dirty">
                                        A message is required.
                                    </span>

                                    </br>
                               
                                    
                                    </br>
                              </div>
                                  <button class="btn btn-primary pull-right" ng-disabled="MessageForm.$invalid">Create Message</button>
                          </form>

                 </div>

      
  </div>
        </br></br>


<div>
	  <!-- location details -->
       <h2>Message List</h2>

    	<table class="table table-hover">
        <thead>
          <tr >
                
                <th>Message</th>
                <th>URL  </th>
                <th>Complete </th> 
                <th>Created By</th>
                <th>Created For </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>

          </tr>
        </thead>

        <!-- list out the non complete nudges -->
        <!-- possibly add a count of completed nudges -->

        <!-- Exmple message -->
        <!-- 
        	 {
				    "message": "",
				    "url": "",
				    "date_created": "",
				    "complete": false,
				    "created_by": "",
				    "id": "objectid",
				    "locationId": "objectid",
				    "econnectUserId": "objectid"
				  
  			} -->
      
            <tbody>
                     <tr ng-repeat="message in messages" >
          
                     
    			                    <td>{{message.message}}</td>
    			                    <td>{{message.url}}</td>
    			                    <td>{{message.complete}}
    			                    <td ></td>
    			                    <td>{{message.createdForUser.firsname + " " + message.createdForUser.lastname}} </td>


    			            
    			                      <!--sort out nudge /message -->
    			                   <td> <button class="btn btn-default btn-xs"  ui-sref="delete-nudge({ id: nudge.id })">
    			                              <span class="glyphicon   glyphicon-trash"></span>
    			                        </button></td>

    			                  <td> <button class="btn btn-default btn-xs">
    			                              <span class="glyphicon  glyphicon-edit"></span>
    			                        </button></td>
                            <td> <button>Details </td>


                 
                     </tr>
            </tbody>
      </table>

  
</div>



      




   

